.orderBook {
	display: flex;
	flex-direction: column;
	height: 100%;

	--order-book-header-height: 40px;
	--order-book-footer-height: 60px;
	--order-book-row-height: 32px;
}

.orderBookContent {
	display: flex;
	flex: 1;
	overflow: hidden;

	& > div {
		width: 50%;
	}

	@media all and (max-width: 600px) {
		flex-direction: column-reverse;
		justify-content: flex-end;
		& > div {
			width: 100%;
		}
	}
}

.footer {
	height: var(--order-book-footer-height);
	display: flex;
	justify-content: center;
	align-items: center;
}
