$red_color_faded: #a52f3273;
$red_color: #d7373b;
$green_color_faded: #10885f73;
$green_color: #12a774;

.orderPage {
	display: flex;
	flex-direction: column;

	.orderPageRows {
		height: 100%;
	}

	.orderPageHeader,
	.orderPageRow {
		display: flex;
		padding: 5px 0;
		min-height: var(--order-book-row-height);
		box-sizing: border-box;
		align-items: center;
		height: var(--order-book-row-height);

		& > div {
			flex: 1;
			padding: 0 30px;
			text-align: right;
			position: relative;
			font-size: 16px;

			@media all and (max-width: 900px) and (min-width: 600px) {
				padding: 0 10px 0;
			}
			@media all and (max-width: 430px) {
				padding: 0 10px 0;
			}
		}
	}

	.orderPageHeader {
		color: #ffffff75;
		border-bottom: 1px solid #ffffff0d;
	}

	.orderPageRow {
		display: flex;
		position: relative;
		color: #ffffffc9;

		.percentage {
			position: absolute;
			width: 0%;
			height: 100%;
			z-index: 0;
			padding: 0;
			transition: 0.2s all;
			top: 0;
			transition: translate3d(0, 0, 0);
		}

		& > div {
			flex: 1;
			letter-spacing: 2px;
		}
	}

	&.green {
		.orderPageRow {
			.percentage {
				background: $green_color_faded;
			}
			.price {
				color: $green_color;
			}
		}
	}

	&.red {
		.orderPageRow {
			.percentage {
				background: $red_color_faded;
			}
			.price {
				color: $red_color;
			}
		}
	}

	&.reversedColumnOrder {
		.orderPageRow,
		.orderPageHeader {
			flex-direction: row-reverse;
		}
	}

	&.reversedRowOrder {
		.orderPageRows {
			display: flex;
			flex-direction: column-reverse;
		}
	}
}
