.popupContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0000009c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup {
	width: 240px;
	background: #131723;
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #ffffff26;
	text-align: center;

	p {
		color: #fff;
		font-size: 14px;
		margin: 10px 0 20px 0;
	}
}
