@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$bg_color: #131723;

body,
html,
:global(#app) {
	padding: 0;
	margin: 0;
	font-family: "Roboto Mono", monospace;
	background: $bg_color;
	height: 100%;
}

button {
	font-family: "Roboto Mono", monospace;
}

.app {
	height: 100%;
}

.blur {
	filter: blur(2px);
}
