.orderBookHeader {
	position: relative;
	height: var(--order-book-header-height);
	display: flex;
	align-items: center;
	justify-content: center;

	&:not(.onlySpread) {
		border-bottom: 2px solid #ffffff0d;
	}

	h1 {
		position: absolute;
		color: #fff;
		margin: 0;
		font-size: 18px;
		left: 20px;
	}

	.spread {
		text-align: center;
		margin: 0;
		font-size: 16px;
		color: rgb(255 255 255 / 46%);
	}
}
